/* Landing.css */

/* Estilos generales */
.landing-page {
  background: linear-gradient(#e0f2f1, #f1f8fe);
  padding: 20px;
}

/* Sección del héroe */
.hero-section {
  padding: 50px;
  background-image: url('./puppy-ge3b00f9a5_1280.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

.landing-title {
  font-size: 36px;
  color: #333333;
  margin-bottom: 10px;
}

.landing-subtitle {
  font-size: 18px;
  color: #666666;
  margin-bottom: 15px;
}

/* Sección de contenido */
.content-section {
  padding: 20px;
  margin-bottom: 10px;
}

.section-title {
  margin-top: 50px;
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.section-description {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.imagenes {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

/* Pie de página */
.footer {
  padding: 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  color: black;
}

/* Media queries */
@media (max-width: 768px) {
  /* Estilos para dispositivos con un ancho máximo de 768px */
  .hero-section {
    padding: 30px;
  }
  
  .landing-title {
    font-size: 24px;
  }
  
  .landing-subtitle {
    font-size: 16px;
  }
  
  .section-title {
    margin-top: 30px;
    font-size: 20px;
  }
  
  .section-description {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  /* Estilos para dispositivos con un ancho máximo de 576px */
  .hero-section {
    padding: 20px;
  }
  
  .landing-title {
    font-size: 20px;
  }
  
  .landing-subtitle {
    font-size: 14px;
  }
  
  .section-title {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .section-description {
    font-size: 12px;
  }
}
